@theme{
    --color-neutral-0: hsl(0, 0%, 100%);
    --color-neutral-200: hsl(250, 6%, 84%);
    --color-neutral-300: hsl(240, 6%, 70%);
    --color-neutral-600: hsl(243, 23%, 30%);
    --color-neutral-700: hsl(243, 23%, 30%);
    --color-neutral-800: hsl(243, 27%, 20%);
    --color-neutral-900: hsl(243, 96%, 9%);
    
    --color-orange-500: hsl(28, 100%, 52%);
    
    --color-blue-500: hsl(233, 67%, 56%);
    --color-blue-700: hsl(248, 70%, 36%);

    --breakpoint-xs: 375px;    
    --breakpoint-sm: 576px;    
    --breakpoint-md: 768px;    
    --breakpoint-lg: 1024px;    
    --breakpoint-xl: 1200px;
    --breakpoint-2xl: 1400px;
    --breakpoint-3xl: 1600px;
    --breakpoint-4xl: 1920px;

    --font-sans: 'DM Sans', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-dmsans: 'DM Sans', 'Helvetica', 'Arial', 'sans-serif';
    --font-bricolagegrotesque: 'Bricolage Grotesque', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
@layer base {
    body{
        @apply bg-neutral-900;
    }
    body,p,a{
        @apply text-base lg:text-lg;
    }

    .container{
        @apply px-4;
    }

    h1 {
        @apply font-extrabold text-[54px]/[1.2] font-bricolagegrotesque;
    }

    h2 {
        @apply font-extrabold text-[28px]/[1.2] lg:text-4xl;
    }

    h3 {
        @apply font-medium text-3xl font-bricolagegrotesque;
    }

    h4 {
        @apply font-bold text-2xl font-bricolagegrotesque;
    }

    h5 {
        @apply font-bold text-xl font-bricolagegrotesque;
    }

    h6 {
        @apply font-bold text-lg font-bricolagegrotesque;
    }
}